# Ambiente virtual
.venv/
 venv/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# JetBrains
.idea/

# Variáveis de ambiente
.env

# Logs
logs/
*.log

# Screenshots
screenshots/

# Downloads
downloads/

# Sistema
.DS_Store
Thumbs.db

# Ambiente virtual alternativo
venv/

# Relatórios baixados
*.xlsx
*.xls
*.crdownload